body{
background-color: black;
background-image : url("../images/background.jpg");
}

.mc{
display-flex: flex;
flex-direction: row;
flex-wrap: wrap;
}

.sc{
flex-basis:auto;
color:white;
}

div3{
display:none;
}

h2{
color:white;
}

.h2{
margin-left:38%;
margin-right: 38%;
text-align: center;
color: white;
text-shadow: 1px 1px 1px gray;
}
h1,hr{
margin-left:38%;
margin-right: 38%;
text-align: center;
color: white;
text-shadow: 1px 1px 1px gray;
}

ul {
display: block;
  list-style-type: none;
  width: 33%;
  padding-left:5%;!important

  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;

}
li {
    float: left;
    justify-content : center;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color:white;
  text-shadow: 1px 1px 1px fuchsia;

}

.table2{
    width: 15%;
    background-color:gray;
    color: white;
    text-shadow: 1px 1px 1px black;
    position:fixed;
    top: 20%;
    left: 12.5%;


}

.th2{
border-bottom: 1px solid #ddd;
text-align:center;
}
.tr2{
border-bottom: 1px solid #ddd;
text-align:center;
font-size: 200%;
}
.table{
    width: 75%;
    background-color:gray;
    color: white;
    text-shadow: 1px 1px 1px black;
    position:fixed;
    top: 30%;
    left: 12.5%;

}

 th,td {
    text-align:left;
}

td:hover{
    background-color:green;
}

.creator{
position:absolute;
top:30%;
left:40%;
display-flex:flex;
flex-direction:row;
}

.creattext{
color:white;
text-shadow: 1px 1px 1px red;
}

.btn{
width:45%;
border-radius:15%;
position: absolute;
left:45%;
}

.btn:hover {
      box-shadow: 0 12px 16px 0 red, 0 17px 50px 0 red;
    }