<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Praktikumsprojekt Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/figuren.css}"/>
</head>
<body>
<div class="mc">
    <hr>
    <h1> Migration mit Java & MySQL</h1>
    <hr>
    <div class="sc">
        <ul>
            <li><a href="#" th:href="@{/start}">Home</a></li>
            <li><a href="#" th:href="@{/admin}">Tabellenverwalten</a></li>
            <li><a href="#" th:href="@{/status}">Server Status</a></li>
            <li><a href="#" th:href="@{/index}">Logout</a></li>
        </ul>
    </div>
    <br>
    <form action="#" th:action="@{/change}" th:object="${usert}" method="post">
        <input type="text" th:field="*{vorn}" placeholder="Vorname"/>
        <input type="text" th:field="*{nachn}" placeholder="Nachname"/>
        <input type="text" th:field="*{date}" placeholder="YYYY-MM-DD"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
<div class="sb">

</div>


</body>
<script th:src="@{/js/javas.js}"></script>
</html>