<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Praktikumsprojekt Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/figuren.css}"/>
</head>
<body>
<div class="mc">
    <hr>
    <h1> Migration mit Java & MySQL</h1>
    <hr>
    <h2 class="h2">Eintragen von werten in einer SQL tabelle</h2>
    <div class="sc">
        <ul>
            <li><a href="#" th:href="@{/start}">Home</a></li>
            <li><a href="#" th:href="@{/admin}">Tabellenverwalten</a></li>
            <li><a href="#" th:href="@{/status}">Server Status</a></li>
            <li><a href="#" th:href="@{/}">Logout</a></li>
        </ul>
    </div>
    <br>
    <form name="test" action="#" th:action="@{/create}" th:object="${adduser}" method="post">
        <div class="creator">
            <div>
                <label class="creattext">Vorname: </label>
                <input name="vorname"/>
            </div>
            <div>
                <label class="creattext">Nachname: </label>
                <input name="nachname"/>
            </div>
            <br>
            <div>
                <input class="btn" type="submit" value="Bestätigen!"/>
            </div>
        </div>
    </form>
</div>
<div class="sb">

</div>


</body>
<script th:src="@{/js/javas.js}"></script>
</html>