<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Praktikumsprojekt Homepage</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/figuren.css}"/>
</head>
<body>
<div class="mc">
    <hr>
    <h1> Migration mit Java & MySQL</h1>
    <hr>
    <div class="sc">
        <ul>
            <li><a href="#" th:href="@{/start}">Home</a></li>
            <li><a href="#" th:href="@{/admin}">Tabellenverwalten</a></li>
            <li><a href="#" th:href="@{/status}">Server Status</a></li>
            <li><a href="#" th:href="@{/}">Logout</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div>
    <table class="table2">
        <th class="th2">Tabellen Namen</th>
        <tr class="tr2" th:each="tablet : ${tablet}">
            <td class="th2" th:text="${tablet.name}">Tabellennamen</td>
        </tr>
    </table></div>
    <br>
    <table class="table">
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Hinzugefügt</th>
        <tr th:each="view : ${usert}">
        <td th:text="${view.id}">ID</td>
        <td th:text="${view.vorname}">Vorname</td>
        <td th:text="${view.nachname}">Nachname</td>
        <td th:text="${view.date}">Hinzugefügt</td>
        </tr>
    </table>
</div>
<div class="sb">

</div>



</body>
<script th:src="@{/js/javas.js}"></script>
</html>